html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

.zoom {
  background-color: #fff;
  color: #000;
  padding: 5px;
}
